@model Banner


@{
    ViewData["Title"] = "Create";
}



<div class="container my-5">

    <h2 style="color:darkcyan; text-align:center;" class="mt-3"> Banner create</h2>

    <form class="form-sample" asp-action="Create" method="post" enctype="multipart/form-data">

        <h4 style="color:darkred" class="mt-5">Add image </h4>
        <input class="form-control" id="customFile" asp-for="Image" />
        <span class="text-danger" asp-validation-for="Image"></span>

        <div class="buttons my-3">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>

    </form>
</div>

@section Scripts{


    <partial name="_ValidationScriptsPartial" />



}


