@model IEnumerable<Advertising>


@{
    ViewData["Title"] = "Index";
   
}



<div class="container my-5">
    <a class="btn btn-success" style="float: right;" asp-action="Create">Create</a>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>

                    <th>
                        Image
                    </th>
                  
                    <th>
                        Operations
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var blog in Model)
                {
                    
                    <tr>

                        
                        <td class="py-1">
                            <img src="~/assets/images/website-images/@blog.Image" style="width: 70px; height: 70px" alt="image" />
                        </td>

                        <td>
                            @blog.Name
                        </td>

                      



                        <td>

                            <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@blog.Id">Info</a>
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@blog.Id">Edit</a>

                            <form style="display: inline-block;" asp-action="Delete" asp-route-id="@blog.Id" method="post">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>


                        </td>

                    </tr>

                }


            </tbody>
        </table>
    </div>

</div>

