@model AuthorCreateVM

@{
    ViewData["Title"] = "Create";
}



<div class="container my-5">

    <h2 style="color:darkcyan; text-align:center;" class="mt-3"> Author create</h2>

    <form class="form-sample" asp-action="Create" method="post" enctype="multipart/form-data">

        
        <div class="form-group my-3">
            <label>Add Name</label>
            <input class="form-control" id="customFile" asp-for="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <div class="buttons my-3">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>

    </form>
</div>

@section Scripts{


    <partial name="_ValidationScriptsPartial" />



}
