@model LoginVM


@{
    ViewData["Title"] = "Login";
}
<main class="main-content">

    <div class="login-register-area section-space-y-axis-100">
        <div class="container">
            <div class="row">

                <div class="ol-lg-12 pt-5 pt-lg-0">


                    <div class="col-lg-12">
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <form method="post" asp-action="Login">
                            <div class="login-form">
                                <h4 class="login-title">Login</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label>Email or Username*</label>
                                        <input asp-for="EmailOrUsername" placeholder="Email or Username" />
                                        <span class="text-danger" asp-validation-for="EmailOrUsername"></span>
                                    </div>
                                    <div class="col-lg-12">
                                        <label>Password</label>
                                        <input asp-for="Password" placeholder="Password" />
                                        <span class="text-danger" asp-validation-for="Password"></span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="check-box">
                                            <input type="checkbox" id="remember_me" />
                                            <label for="remember_me">Remember me</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 pt-1 mt-md-0">
                                        <div class="forgotton-password_info">
                                            <a href="#"> Forgotten pasward?</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 pt-5">
                                        <button class="btn btn-custom-size lg-size btn-pronia-primary">
                                            Login
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</main>


@section Scripts{


    <partial name="_ValidationScriptsPartial" />



}


