
@{
    ViewData["Title"] = "VerifyEmail";
}

<div class="contianer">

    <div class="alert alert-success" role="alert">
        Plase check your email for register confirmation!
    </div>

</div>

