@model IEnumerable<Brand>


<!-- Begin Brand Area -->
<div class="brand-area section-space-bottom-100">
    <div class="container">
        <div class="brand-bg"
             data-bg-image="assets/images/website-images//1-1170x300.jpg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-container brand-slider">
                        <div class="swiper-wrapper">

                            @foreach (var item in Model)
                            {
                                
                            

                            <div class="swiper-slide">
                                <a class="brand-item" href="#">
                                    <img src="~/assets/images/website-images//@item.Image"
                                         alt="Brand Image" />
                                </a>
                            </div>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand Area End Here -->

