@model IEnumerable<Product>

<div class="container">

<div class="tab-pane fade show active"
     id="grid-view"
     role="tabpanel"
     aria-labelledby="grid-view-tab">
    <div class="product-grid-view row g-y-20">

           @if (Model.Count() == 0)
          {
            <h1 class="d-flex justify-content-center">Product not found</h1>
          }

        @foreach (var product in Model)
        {
            <div class="col-md-4 col-sm-6">



                <div class="product-item">
                    <div class="product-img">
                        <a asp-action="Detail" asp-route-id="@product.Id">
                            <img class="primary-img"
                             src="~/assets/images/website-images/@product.ProductImages?.Where(m => m.IsMain).FirstOrDefault()?.Image"
                             alt="Product Images" />
                            <img class="secondary-img"
                             src="~/assets/images/website-images/@product.ProductImages?.Where(m => !m.IsMain).FirstOrDefault()?.Image"
                             alt="Product Images" />
                        </a>
                        <div class="product-add-action">
                            <ul>
                                <li>
                                    <a href="wishlist.html"
                                   data-tippy="Add to wishlist"
                                   data-tippy-inertia="true"
                                   data-tippy-animation="shift-away"
                                   data-tippy-delay="50"
                                   data-tippy-arrow="true"
                                   data-tippy-theme="sharpborder">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                </li>
                                <li class="quuickview-btn"
                                data-bs-toggle="modal"
                                data-bs-target="#quickModal">
                                    <a href="#"
                                   data-tippy="Quickview"
                                   data-tippy-inertia="true"
                                   data-tippy-animation="shift-away"
                                   data-tippy-delay="50"
                                   data-tippy-arrow="true"
                                   data-tippy-theme="sharpborder">
                                        <i class="pe-7s-look"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="cart.html"
                                   data-tippy="Add to cart"
                                   data-tippy-inertia="true"
                                   data-tippy-animation="shift-away"
                                   data-tippy-delay="50"
                                   data-tippy-arrow="true"
                                   data-tippy-theme="sharpborder">
                                        <i class="pe-7s-cart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <a class="product-name"
                       href="single-product-variable.html">@product.Name</a>
                        <div class="price-box pb-1">
                            <span class="new-price">$@product.Price</span>
                        </div>
                        <div class="rating-box">

                            <ul>
                                @for (int i = 0; i < product.Rates; i++)
                                {


                                    <li><i class="fa fa-star"></i></li>


                                }

                                @for (int i = 0; i < 5 - product.Rates; i++)
                                {

                                    <li><i style="color:gray;" class="fa fa-star"></i></li>

                                }



                            </ul>
                        </div>
                    </div>
                </div>


            </div>

        }
    </div>
</div>


</div>